{% extends 'base.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Add New Supplier</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.country) }}

            <div class="d-flex">
                <button class="btn btn-success">Save</button>
                <a href="{{ path('app_product_index') }}" class="btn btn-secondary mx-5">Back to Products</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}